header {
    height: 21rem;
    background-color: #E56353;
    color: #fff;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}

header h1 {
    font-weight: 200;
    font-size: 3.5rem;
    margin-left: 25%;
    margin-right: 25%;
}
